@model  TestStore.Models.Album
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Store", FormMethod.Post))
{
    @Html.HiddenFor(m => m.AlbumID)
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    <h4>Album</h4>
    <hr />

    @*<div class="form-group">
            @Html.LabelFor(m => m.ArtistID, "Artist Name",
            new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ArtistID", String.Empty)
                @Html.ValidationMessageFor(m => m.ArtistID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(al => al.GenreID, "Genre Name", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("GenreID", String.Empty)
                @Html.ValidationMessageFor(m => m.GenreID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Title,
            new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(m => m.Title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price,
            new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price)
                @Html.ValidationMessageFor(m => m.Price)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AlbumArtUrl,
            new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AlbumArtUrl)
            </div>
        </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.ArtistID, "ArtistName", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("ArtistID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ArtistID, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.GenreID, "Name", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("GenreID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Genre.GenreID, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Title, "Title", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Title, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Price, "Price", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Price, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.AlbumArtUrl, "AlbumArtUrl", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.AlbumArtUrl, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.AlbumArtUrl, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>

</div>

}





